body{
  overflow: hidden;
 margin: 0;
 color: white;
 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    height: 1200px;
    width: 100%;
}

.personagem{
    position: absolute;
    top: 640px;
    left: 300px;
    height: 150px;
    width: 250px;
    z-index: 2;
}
.personagemSubir{
    animation: moverPersonagemCima 0.2s linear;
    top: 240px;
}
.personagemDescer{
    animation: moverPersonagemBaixo 0.2s linear;
    top: 640px;
}
.personagem img{
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
}


.camada{
    position: absolute;
    height: 100%;
    width: 100%;
    background-repeat: repeat-x;

    background-position: center;  /* centraliza */
    
}
.camada7{
        background-image: url(img/7.png);
        top: 0;
        animation: moverFundo 500s linear infinite;

}
.camada5{
        background-image: url(img/5.png);
        top: 0;
        animation: moverNaves 6s linear infinite;

}
.camada4{
        background-image: url(img/4.png);
        top: 0;
        animation: moverFundo 50s linear infinite;

}
.camada3{
        background-image: url(img/3.png);
        top: 0;
        animation: moverNaves 2s linear infinite;

}
.camada2{
        background-image: url(img/2.png);
        top: 0;
        animation: moverFundo 25s linear infinite;
}
.camada1{
        background-image: url(img/ponte.png);
        top: 0;
        animation: moverFundo 15s linear infinite;
}
.camada-1{
  height: 300px;
  width: 300px;
  border: solid 3px white;
  position: absolute;
  top: 20px;
  left: 20px;
}

.obstaculo{
  height: 100px;
  width: 100px;
  left: 7660px;
  position: absolute;
  z-index: 2;
  border: solid 2px blue;
}
.obstaculoCima{
  top: 240px;
  
}
.obstaculoBaixo{
  top: 640px;
}
.obstaculoNivel1{
  animation: obstaculo 5s linear ;
}
.obstaculoNivel2{
  animation: obstaculo 4s linear ;
}
.obstaculoNivel3{
  animation: obstaculo 3s linear ;
}
.obstaculoNivel4{
  animation: obstaculo 3s linear ;
}
.obstaculoNivel5{
  animation: obstaculo 2.7s linear ;
}
.obstaculoNivel6{
  animation: obstaculo 2.5s linear ;
}
.obstaculoNivel7{
  animation: obstaculo 2.3s linear ;
}
.obstaculoImg{
      position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-20%, -50%);
}
@keyframes obstaculo{
  from{
    left: 7660px; 
  }
  to{
    left: -100px;
  }
}

@keyframes moverFundo {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -7660px 0;
  }
}
@keyframes moverNaves {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 7660px 0;
  }
}

@keyframes moverPersonagemCima{
    from {
    top: 640px;
  }
  to {
    top: 240px;
  }
}

@keyframes moverPersonagemBaixo{
    from {
    top: 240px;
  }
  to {
    top: 640px;
  }
}
.camada0{
  z-index: 1;
  transition: 3s;
}
.personagemCapote{
    animation: girar360 1s linear;
}

@keyframes girar360 {
    from { }
    to   { transform: rotate(360deg); top: 200px; left:-500px;}
}
